[user]
	name = Clayton Hughes
	email = <EMAIL>
	username = ClaytonHughes
[push]
	default = simple
[core]
	editor = vim
	autocrlf = input
	attributesfile = /home/clayton/.config/git/attributes
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[color "diff"]
	whitespace = red reverse
